@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

body {
    background: linear-gradient(90deg, #c0c9f4 25%, transparent 26%, transparent 49%, #c0c9f480 50%, #c0c9f480 75%, transparent 76%);
    background-size: 3em 3em;
    background-color: #ffffff;
    font-family: 'Mooli', sans-serif;
}

#index {
    margin: 80px auto 0;
    width: 1200px;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 0;
    grid-template: repeat(6, 140px)/repeat(7, 1fr);
    height: 900px;
}

#index img {
    width: 60%;
}

#index img:hover {
    width: 80%;
}

#index p {
    font-size: 1.3rem;
    grid-area: 1 / 4 / 2 / 8;
    text-align: left;
    color: white;
    padding: 10px;
    background-color: #0427c1;
    border-radius: 10px;
    z-index: 2;
}

#all_categories {
    grid-area: 3 / 2 / 5 / 6;
    z-index: 1;
}

#all_categories img {
    background-color: transparent;
    width: 100%;
}

#all_categories img:hover {
    width: 100%;
}

#general_knowlegde {
    grid-area: 1 / 4 / 4 / 6;
    width: 50%;
    z-index: 11;
}

#movies {
    grid-area: 3 / 7 / 5 / 8;
    z-index: 3;

}

#animals {
    grid-area: 2 / 6 / 3 / 7;
    z-index: 4;
}

#music {
    grid-area: 1 / 3 / 2 / 4;
    z-index: 5;
}

#science {
    grid-area: 4 / 4 / 7 / 5;
    z-index: 6;
}

#sports {
    grid-area: 2 / 1 / 3 / 2;
    z-index: 7;
}

#geography {
    grid-area: 5 / 1 / 6 / 3;
    width: 50%;
    z-index: 7;
}

#history {
    grid-area: 3 / 1 / 5 / 2;
    z-index: 8;
}

#books {
    grid-area: 4 / 6 / 6 / 7;
    z-index: 9;
}

#art {
    grid-area: 5 / 5 / 7 / 6;
    z-index: 10;
}

#typeSelect {
    display: grid;
    margin: auto;
    width: 700px;
    height: 700px;
    display: grid;
    grid-template: repeat(2, 40%) / repeat(2, 50%);
    justify-items: center;
    align-items: center;
    gap: 0;
}

#typeSelect * {
    background-color: white;
    padding: 50px;
    border-radius: 30px;
}

#boolean {
    grid-area: 1 / 1 / 2 / 2;
}

#multiple {
    grid-area: 1 / 2 / 2 / 3;
}

#any {
    grid-area: 2 / 1 / 3 / 3;
}

#score {
    padding: 20px 0;
    width: 50%;
    text-align: center;
    background-color: #0427c1;
    color: white;
    border-radius: 50px;
    font-family: Impact, sans-serif;
    font-size: 40px;
}

#display {
    margin: auto;
    width: 1200px;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 0;
}

#option_container {

    width: 100%;
    margin: auto;
    display: grid;
    grid-template: 1, 600px / repeat(2, 1fr);
    gap: 0px;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.option_header {
    font-size: 15px;
    margin-top: 80px;
    background-color: #0427c1;
    padding: 15px;
    border-radius: 15px;
    color: #ffffff;
}

#type {
    grid-area: 1 / 1 / span 1 / span 1;
    display: grid;
    grid-template-columns: 1fr;
    gap: 70px;

}

#type img {
    width: 150px;
}

#difficulty {
    grid-area: 1 / 2 / span 1 / span 1;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: 70px;
}

#difficulty p {
    font-size: 20px;
    font-weight: 800;
    padding: 10px;
    line-height: 2;
    width: 50%;
    margin: auto;
    background-color:white;
    border-radius: 10px;
    color: #0427c1;
}

.one_button{
    position: absolute;
    top: 90%;
    left: 80%;
    background-color: #0427c1;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    padding: 20px;
    border: none;
    z-index: 30;
}

#level {
    padding-left: 130px;
}

.button_container img {
    width: 50px;
}

.question {
    color: white;
    font-size: 2rem;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #697ee0;
    border-radius: 50px;
    padding: 50px;
    border: solid 10px #0427c1;
}

.answer-container {
    display: grid;
    width: 100%;
    margin-top: 100px;
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    height: 400px;
    row-gap: 40px;
}

.answer-container * {
    background-color: rgba(255, 255, 255, 1);
    width: 80%;
    border-radius: 30px;
    text-align: center;
    font-size: 2rem;
    padding: 30px 20px;
    border: solid 5px #697ee0;
}

.answer-container *:hover {
    background-color: #9eceff;
}


#score_message {
    padding: 20px;
    text-align: center;
    font-size: 40px;
    grid-area: 2 / 4 / 4 /7;
    z-index: 10;
    background-color: #0427c1;
    border-radius: 30px;
    color: #ffffff;
}

#score_img {
    grid-area: 3 / 1 / 6 / 4;
    z-index: 5;
}

.two_buttons {
    grid-area: 5 / 4 / 7 / 7;
    z-index: 50;
    display: flex;
    flex-direction: row;
}

.two_buttons button{
    width: 150px;
    background-color: #0427c1;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    padding: 20px;
    border: none;
    margin: 0 80px;
}